canvas#chart_cases_moving_average[height='300px' width='1000px']
ruby:
  cases_data = data_for(:casos_residentes, :casos_confirmados_reportados_del_dia)
  swabbing_data = data_for(:personas_hisopadas, :personas_hisopadas_reportados_del_dia_caba)

javascript:
    const casesColor = function (context) {
        const isWeekend = new Date(context.raw.x).getDay() >= 5;
        return isWeekend ? 'rgba(255, 32, 32, 0.5)' : 'rgba(255, 32, 32, 1)';
    }
    const ctx = document.getElementById('chart_cases_moving_average').getContext('2d');
    new Chart(ctx, {
        options: {
            scales: {
                x: [{
                    type: 'time',
                }]
            }
        },
        data: {
            datasets: [{
                type: 'bar',
                label: 'Casos',
                backgroundColor: casesColor,
                borderColor: casesColor,
                data: [#{cases_data}]
            }, {
                type: 'line',
                label: 'Hisopados',
                tension: 0.1,
                pointRadius: 0,
                backgroundColor: 'rgba(32, 200, 32, 1)',
                borderColor: 'rgba(32, 200, 32, 1)',
                data: [#{swabbing_data}]
            }]
        }
    });
